extends layout

block head
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Orbitron', type='text/css')
  link(rel='stylesheet', href='/assets/toggles-full.css')
  link(rel='stylesheet', href='/assets/toggles-all.css')
  link(rel='stylesheet', href='/assets/bootstrap-switch.min.css')
  link(rel='stylesheet', href='/assets/jquery.scrollbar.css')
  link(rel='stylesheet', href='/assets/jquery-ui.min.css')
  link(rel='stylesheet', href='/assets/game-view.css')
  link(rel='stylesheet', href='/assets/main.css')

block content
  .content
    nav.chat-bar
      .col-xs-10.col-sm-8.col-lg-6
        a.menu-toggle#openChat(href='#')
          i.fa.fa-comments
          span Click to Play
          i.fa.fa-angle-double-right
      .col-xs-2.col-md-4.col-lg-6.center-block
        button.play-game-btn.btn.btn-primary.text-center(type='button') Play
    .menu-container
      .container
      nav.chat-bar
        a.menu-toggle.white#closeChat(href='#')
          i.fa.fa-gamepad
          span Back to Game
          i.fa.fa-angle-double-left
      .main-menu
        .center
          .onoffswitch
            input.onoffswitch-checkbox#myonoffswitch(type='checkbox')
            label.onoffswitch-label(for='myonoffswitch')
              span.onoffswitch-inner
              span.onoffswitch-switch
    .row
      .col-sm-12.col-md-8.canvas-container
        canvas#canvas(width='600', height='600') Sorry, this browser doesn't support the HTML5 canvas...
      .col-sm-12.col-md-4
        .panel-group#accordion(role='tablist', aria-multiselectable='false')
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne') Side Chat
            .panel-collapse.collapse.in#collapseOne
              .panel-body
                h4.chat-info Player Count: Loading...
                ul.panel-chat
                form.chat
                  .msgBox
                    textarea#m(autocomplete='off')
                    button.btn.btn-success.chatBtn(type='button') Send
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo') Players Online
            .panel-collapse.collapse#collapseTwo
              .panel-body
                 ul.list-group.players
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='true', aria-controls='collapseThree') Debug Form
            .panel-collapse.collapse#collapseThree
              .panel-body
                form#update
                  .form-group
                    label(for='x') X
                    input.form-control#x(type='number', name='x', min='0')
                  .form-group
                    label(for='y') Y
                    input.form-control#y(type='number', name='y', min='0')
                  .form-group
                    label(for='az') Azimuth
                    input.form-control#az(type='number', name='az', min='0')
                  .form-group
                    label(for='r') Red
                    input.form-control#r(type='number', name='r', min='0', max='255')
                  .form-group
                    label(for='g') Green
                    input.form-control#g(type='number', name='g', min='0', max='255')
                  .form-group
                    label(for='b') Blue
                    input.form-control#b(type='number', name='b', min='0', max='255')
                  .form-group
                    label(for='h') Alpha
                    input.form-control#h(type='number', name='h', step='0.1', min='0', max='1')
                  br
                  hr
                  #red
                  #green
                  #blue
                  #alpha
                  .ui-widget-content.ui-corner-all#swatch
                  hr
                  button.btn.btn-primary(type='submit', name='updateBtn') Update
                form#random
                  button.btn.btn-default#randomBtn(type='button') Random
block scripts
  script(src='/assets/jquery.min.js')
  script(src='/assets/jquery-ui.min.js')
  script(src='/assets/toggles.min.js')
  script(src='/assets/jquery.scrollbar.min.js')
  // script(src='/assets/jquery.onoff.js')
  script(src='/assets/bootstrap.min.js')
  script(src='/assets/bootstrap-switch.min.js')  
  script(src='/assets/socket.io.slim.js')
  script(src='/assets/game-client.js?y')
  script(src='/assets/main.js')
